@	IN	SOA	ns01.newdns.lab. adm.newdns.lab. (
			2023052623
			1H
			10M
			10D
			10M )

	IN	NS	ns01.newdns.lab.
	IN	NS	ns02.newdns.lab.

ns01	IN	A	{{ip_nsprim}}
ns02	IN	A	{{ip_nssec}}

web	IN	A	{{ip_cl1}}
web 	IN	A	{{ip_cl2}}
